/* src/index.css or a separate CSS file */
.product-img {
  height: 200px;        /* fixed height */
  object-fit: cover;    /* crop/scale image while keeping aspect ratio */
  width: 100%;          /* take full width of card */
  border-radius: 8px;   /* optional, smooth corners */
}

.main-product-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.thumbnail-carousel {
  padding-bottom: 5px;
}

.thumbnail-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.thumbnail-img:hover,
.thumbnail-img.active-thumb {
  border: 2px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
